<!doctype html>
<html lang="en" style="height: 100%;">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document Editor</title>
</head>
<body style="height: 100%;">
    <h1>Document Editor</h1>
    <form method="post" style="border-style: solid; margin: 2px 2px 2px 2px; padding: 2px 2px 2px 2px">
        {% csrf_token %}
        <button type="submit" name="reload_page">Reload Page</button>
    </form>

    {% block content %}{% endblock %}

    {% if messages %}
        <script>
          {% for message in messages %}
            alert("{{ message }}");
          {% endfor %}
        </script>
    {% endif %}
</body>
</html>